.grid-container {
  display: grid;
  grid-template-columns: repeat (3, auto-fit, minmax(600px, 1fr));
 
  background-color: #000000;
  padding: 10px;
}
.grid-item {
  background-color: #CCCCCC;
  border: 1px solid #000000;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-item1 {
  background-color: #CCCCCC;
  border: 1px solid #000000;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 4;
}
body {
	background-color: #A1A1A1
}	
